

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Businnes, Portfolio, Corporate">
    <meta name="Author" content="WebThemez">
    <title>Wadala</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="elegant_font/style.css" />
    <!--[if lte IE 7]><script src="elegant_font/lte-ie7.js"></script><![endif]-->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/slider-pro.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/owl.theme.css">
    <link rel="stylesheet" href="css/owl.transitions.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="elegant_font/style.css">
    <link rel="stylesheet" href="css/style.css">  
    <link rel="stylesheet" href="css/slider.css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body style="background:  rgba(7, 6, 6, 0.931);">
    <header style="height: 200px; background: rgba(7, 6, 6, 0.931);">
        <div class="col-md-4 contac-us" style="left: 43%; top: 25px">
            <h4 style="color: rgb(85, 255, 6); font-size: 50px;"><b> Cafe Creme </b></h4>
        </div>
    </header>

    <section style="top: 200px; background: rgb(39, 40, 41); height: 620px">
    <div id="slider" style="top: 10px; padding-top: 20px;  margin-left: 20px; margin-right: 20px; width: 97% ">
        <div>
            <img style="opacity: 0.5;" src="images/lunch.jpg" alt="">
        </div>
        <div>
            <img style="opacity: 0.5;" src="images/breakfast.jpg" alt="">
        </div>
        <div>
            <img style="opacity: 0.5;" src="images/features.jpg" alt="">
        </div>
        <div>
            <img style="opacity: 0.5;" src="images/dinner.jpg" alt="">
        </div>
    </div>

    <div>
        <form action="/ccphotos" method="GET">
            <button type="submit" style="width: 200px; height: 50px; border-radius: 90px; left: 43%; top: 630px; position: absolute; border: transparent;" 
            onmouseover="this.style.backgroundColor= 'gray'"  onmouseout="this.style.backgroundColor='aliceblue'">
                See All Photos
            </button>
        </form>
    </div>
    </section>

    <hr style="background-color: rgba(4, 15, 1, 0.993); height: 1.3px;"><br><br>

    <section style="height: 270px;">

        <div class="col-md-4 contac-us" style="left:10%;">
            <h4 style="color: rgb(85, 255, 6); font-size: 45px;"> Address </h4><br>
            <div style="padding-top: 8px;">
                <ul>
                <li style="color: aliceblue; font-size: 24px;">Chs Ltd, Vinoo Villa, Building, David Baretto Road, Wadala West, Wadala, Mumbai, 400031</li> <br>
                </ul>
            </div>
        </div>
        
        <div class="col-md-4 contac-us" style="left: 20%">
            <h4 style="color: rgb(85, 255, 6); font-size: 45px;"> Timings  </h4><br>
            <ul style="padding-top: 8px;">
                <li style="color: aliceblue; font-size: 24px;">Monday to Saturday : 11 am - 9 pm</li>
                <li style="color: aliceblue; font-size: 24px;">Sunday : 11 am - 3 pm</li>
            </ul>
        </div>
        
    </section>
    <hr style="background-color: rgba(9, 7, 7, 0.931); height: 1px;"><br>


    <section style="height: 530px"><br>

        <div class="col-md-4 contac-us" style="left: 40%;">
            <h4 style="color: rgb(85, 255, 6); font-size: 45px;"> Specialization </h4><br>
        </div><br><br>


        <div id="cf" style="left: 7%; padding-top: 1.5%; height: 320px; width: 280px; top: 210% ;position: absolute; background-color: rgb(14, 13, 13); ">
            <p class="bottom" style="color: aliceblue; left: 35%; top: 37%"> This is a oreo.</p>
            <img class="top" style="left: 8.2%;" src="images/chocolate.jpg" />
            <div style="padding-top: 85%; font-size: x-large; ;text-align: center; font-family: 'Comic Sans MS' ;color: aliceblue;">
                OREO CUP</div>
        </div>


        <div id="cf" style="left: 40%; padding-top: 1.5%;  height: 320px; width: 280px; top: 210% ;position: absolute; background-color:  rgb(14, 13, 13); ">
            <p class="bottom" style="color: aliceblue; left: 35%; top: 37%"> This is a oreo.</p>
            <img class="top"  style="left: 8.2%;" src="images/chocolate.jpg" />
            <div style="padding-top: 85%; font-size: x-large; ;text-align: center; font-family: 'Comic Sans MS' ;color: aliceblue;">
                OREO CUP</div>
        </div>

        <div id="cf" style="left: 73%; padding-top: 1.5%;  height: 320px; width: 280px; top: 210% ;position: absolute; background-color:  rgb(14, 13, 13) ">
            <p class="bottom" style="color: aliceblue; left: 35%; top: 37%"> This is a oreo.</p>
            <img class="top" style="left: 8.2%;" src="images/chocolate.jpg" />

            <div style="padding-top: 85%; font-size: x-large; ;text-align: center; font-family: 'Comic Sans MS' ;color: aliceblue;"> OREO CUP</div>

        </div>

    </section>

                <hr style="background-color: rgba(9, 7, 7, 0.931); height: 1px;"><br>


    

</body>

