

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Businnes, Portfolio, Corporate">
    <meta name="Author" content="WebThemez">
    <title>Home2</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/elegant_font/style.css" />
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="css/slider-pro.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/owl.theme.css">
    <link rel="stylesheet" href="/css/owl.transitions.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/elegant_font/style.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>



<body style="background: rgba(7, 6, 6, 0.931);">

<header>
    <!-- Navigation Menu start-->

    <nav id="topNav" class="navbar navbar-default main-menu">
        <div class="container">
            <button class="navbar-toggler hidden-md-up pull-right" type="button" data-toggle="collapse"
                data-target="#collapsingNavbar">☰
            </button>
            <a class="navbar-brand page-scroll" href="#slider"><img class="logo"
                    style="border: solid rgba(7, 6, 6, 0.931);" id="logo" src="/images/logo.png" alt="logo"></a>


            <ul class="nav navbar-nav" style="padding-left: 0px">
                <li class="active">
                    <a href="#slider">HOME</a>
                </li>
                <li>
                    <a href="#about">ABOUT</a>
                </li>
                <li>
                    <a href="#portfolio">GALLERY</a>
                </li>
                <li>
                    <a href="#contact">CONTACT US</a>
                </li>
                
                <span style="height: 100px; width: 100px; right: 10px; position: absolute; color: greenyellow; font-weight: 500;font-size: large; border-color: solid black">
                
                           Welcome <li style="color: greenyellow;font-weight: 500; font-size: large;"> <%= person.name %>
                
                </span>
            </ul>

        </div>
    </nav>

</header>

<section style="height: 750px; background-color: rgb(30, 30, 31);">
    <h1 class="sp-layer slider-text-big" data-position="center" style="top: 470px; left: 32%; font-size: 60px; position: absolute;" data-show-transition="left"
        data-hide-transition="right" data-show-delay="400" data-hide-delay="100">
        <span class="highlight-texts">Mind Blowing Ambiance</span>
    </h1>

<img src="/images/slider/slider-img-2.jpg" style="padding-left: 7% ; width : 94%; height: 90%; padding-top: 50px; padding-bottom: 50px;">



<div style="padding-left: 45%; padding-bottom: 50px;">
    <form action="/search/<%=person._id%>" method="POST">
<button  onmouseover="this.style.backgroundColor='grey'"  type="submit" onmouseout="this.style.backgroundColor='aliceblue'" style= " 
    width: 150px;
    height: 40px;
    font-size: 20px;
  padding: 2px 5px 5px 5px;
  border-radius: 90px;
  border: 1px solid black ;
  color:rgb(0, 0, 0);
  text-decoration:none;" >
Search 

</button>
</form>
</div>
</section>

    <section id="about" class="about-sec section-wrapper description">
        <div class="container">
            <div class="row">
                <!-- Section Header -->
                <div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
                    <h2><span class="highlight-text">About</span></h2>
    
                </div>
                <!-- Section Header End -->
    
                <div class="col-md-6 col-sm-6 col-xs-12 custom-sec-img wow fadeInDown">
                    <img src="/images/features.jpg" alt="Custom Image">
                </div>
    
                <div class="col-md-6 col-sm-6 col-xs-12 customized-text wow fadeInDown black-ed">
                    <p style="color: aliceblue;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa sit, numquam
                        amet voluptatibus
                        obcaecati ea maiores totam nostrum, ad iure rerum quas harum ipsum. lobcaecati ea maiores totam
                        nostrum, ad iure rerum quas harum ipsum. Rem ea ducimus quos quae quo.</p>
                    <div class="row">
                        <div class="col-md-11">
                            <strong>Bootstrap</strong>
                            <p style="color: aliceblue;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam
                                iusto, natus est
                                ducimus saepe laborum</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-11">
                            <strong>Responisve Theme</strong>
                            <p style="color: aliceblue;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam
                                iusto, natus est
                                ducimus saepe laborum Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    

    <section id="portfolio" class="bgSection portfolio-section" style=" padding-left: 5%; padding-right: 5%; position: absolute; top: 1600px; left: 10%">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
                    <h2><span class="highlight-text" style="position: absolute; left: 420px">Gallery</span></h2>
                </div>
                <!-- Section Header End-->
    
            </div>
        </div><br><br><br>
    
        <!-- Works -->
        <div class="portfolio-works wow fadeIn" data-wow-duration="2s">
    
    
            <div class="portfolio-items">
    
                <!-- Portfolio Items -->
                <div class="item portfolio-item web seo" style="position: absolute; left: 0px; width : 300; height: 230px;">
    
                    <img src="/images/img-portfolio/portfolio1.jpg" alt="" style="border-radius: 10px; ">
                    <div class="portfolio-details-wrapper" >
                        <div class="portfolio-details">
                            
                        </div>
                    </div>
    
                </div>
                <!-- Portfolio Items End -->
    
                <!-- Portfolio Items -->
                <div class="item portfolio-item works seo"style="position: absolute; left: 400px; width : 300; height: 230px;">
    
                    <img src="/images/img-portfolio/portfolio2.jpg" alt="" style="border-radius: 10px; ">
                    <div class="portfolio-details-wrapper">
                        <div class="portfolio-details">
                           
                        </div>
                    </div>
    
                </div>
                <!-- Portfolio Items End -->
    
                <!-- Portfolio Items -->
                <div class="item portfolio-item web"style="position: absolute; left: 800px; width : 300; height: 230px;">
    
                    <img src="/images/img-portfolio/portfolio3.jpg" alt="" style="border-radius: 10px; ">
                    <div class="portfolio-details-wrapper">
                        <div class="portfolio-details">
                            
                        </div>
                    </div>
    
                </div>
                <!-- Portfolio Items End -->
    
                <!-- Portfolio Items -->
                <div class="item portfolio-item web brands" style="position: absolute; left: 0px; width : 300; height: 230px; top: 550px">
    
                    <img src="/images/img-portfolio/portfolio5.jpg" alt="" style="border-radius: 10px; ">
                    <div class="portfolio-details-wrapper">
                        <div class="portfolio-details">
                            
                        </div>
                    </div>
    
                </div>
                <!-- Portfolio Items End -->
    
                <!-- Portfolio Items -->
                <div class="item portfolio-item works seo" style="position: absolute; left: 400px; width : 300; height: 230px; top: 550px">
    
                    <img src="/images/img-portfolio/portfolio6.jpg" alt="" style="border-radius: 10px; ">
                    <div class="portfolio-details-wrapper">
                        <div class="portfolio-details">
                    
                        </div>
                    </div>
                    
                </div>
                <!-- Portfolio Items End -->
    
                <!-- Portfolio Items -->
                <div class="item portfolio-item web seo works" style="position: absolute; left: 800px; width : 300; height: 230px; top: 550px">
    
                    <img src="/images/img-portfolio/portfolio2.jpg" alt="" style="border-radius: 10px; ">
                    <div class="portfolio-details-wrapper">
                        <div class="portfolio-details">
                            
                        </div>
                    </div>
    
                </div>
                <!-- Portfolio Items End -->
    
    
    
            </div>
        </div>
        <!-- Works End -->
    
    
    </section>
    <!-- Portfolio Section End -->


    <footer id="contact" style=" position: absolute; top: 2400px; width: 100%; padding-left: 0px;" >
        <!-- Contact Section End -->
        <section class="footer-container">
            <div class="container">
                <div class="row footer-containertent">
                    <div class="col-md-4">
                        <img src="/images/logo.png" alt=""><br>

                        <h5 style="padding-top: 14px; color: aliceblue; font-family: sans-serif;">Our cafe is located in various states and cities all across the country.</h5>
                    </div>
                    <div class="col-md-4">
                        <h4 style="color: rgb(85, 255, 6); font-size: 43px;">News & Updates</h4>
                        <h5 style="padding-top: 14px; color: aliceblue; font-family: sans-serif;">New dishes out soon at a very low price, so be tuned for the new delicious bowl of happiness</h5>
                    </div>
                    <div class="col-md-4 contac-us" style="left: 20px;">
                        <h4 style="color: rgb(85, 255, 6); font-size: 43px;">Contact Us</h4>
                        <ul >
                            <li style="color: aliceblue;"><i class="fa fa-home"></i>Nagpur, Maharashtra</li>
                            <li style="color: aliceblue;"><i class="fa fa-phone"></i>123456789</li>
                            <li style="color: aliceblue;"><i class="fa fa-envelope-o"></i>anshulshende2029@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    
        <div class="container">
            <div class="row">
                <div class="footer-containertent">
    
                    <ul style="text-align: center;" class="footer-social-info">
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </li>
                    </ul>
                    <br /><br />
                </div>
            </div>
        </div>
    </footer>

</body>

