

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Businnes, Portfolio, Corporate">
    <meta name="Author" content="WebThemez">
    <title>Wadala</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="elegant_font/style.css" />
    <!--[if lte IE 7]><script src="elegant_font/lte-ie7.js"></script><![endif]-->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/slider-pro.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/owl.theme.css">
    <link rel="stylesheet" href="css/owl.transitions.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="elegant_font/style.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body style="background: rgba(7, 6, 6, 0.931);">
    <!-- Preloader -->


    <!-- Header End -->
    <header>
        <!-- Navigation Menu start-->

        <nav id="topNav" class="navbar navbar-default main-menu">
            <div class="container">
                <button class="navbar-toggler hidden-md-up pull-right" type="button" data-toggle="collapse"
                    data-target="#collapsingNavbar">
                </button>
                <a class="navbar-brand page-scroll" href="#slider"><img class="logo"
                        style="border: solid rgba(7, 6, 6, 0.931);" id="logo" src="images/logo.png"></a>
                <div class="collapse navbar-toggleable-sm" id="collapsingNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="/home/<%=person._id%>">HOME</a>
                        </li>

                        <li>
                            <a href="#contact">CONTACT US</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <section style="height: 800px; background-color: rgb(39, 40, 41);">
        <div id="map" style="height: 700px; width: 95%; left: 33px; top: 260px; position: absolute;"></div>
    </section>
    <script>

        function initMap() {

            var vjti = { lat: 19.0222, lng: 72.8561 };
            var ict = { lat: 19.0239, lng: 72.8575 };



            var map = new google.maps.Map(
                document.getElementById('map'), { zoom: 16, center: vjti });
            var map = new google.maps.Map(
                document.getElementById('map'), { zoom: 16, center: ict });

            var marker = new google.maps.Marker({ position: vjti, map: map });
            Animation = marker.setAnimation(google.maps.Animation.BOUNCE);

            var marker1 = new google.maps.Marker({ position: ict, map: map, title: "ICT, Matunga" })
            Animation = marker1.setAnimation(google.maps.Animation.BOUNCE);

            var info1 = new google.maps.InfoWindow({ content: '<form action="/cafecreme" method="GET"> <button type="submit"> ICT  </button> </form>' });
            google.maps.event.addListener(marker1, 'click', function () { info1.open(map, marker1) })

        }
    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap">
    </script>

    <footer>
        <!-- Contact Section End -->
        <section class="footer-container">
            <div class="container">
                <div class="row footer-containertent">
                    <div class="col-md-4">
                        <img src="/images/logo.png" alt=""><br>

                        <h5 style="padding-top: 14px; color: aliceblue; font-family: sans-serif;">Our cafe is located in
                            various states and cities all across the country.</h5>
                    </div>
                    <div class="col-md-4">
                        <h4 style="color: rgb(85, 255, 6); font-size: 43px;">News & Updates</h4>
                        <h5 style="padding-top: 14px; color: aliceblue; font-family: sans-serif;">New dishes out soon at
                            a
                            very low price, so be tuned for the new delicious bowl of happiness</h5>
                    </div>
                    <div class="col-md-4 contac-us" style="left: 20px;">
                        <h4 style="color: rgb(85, 255, 6); font-size: 43px;">Contact Us</h4>
                        <ul>
                            <li style="color: aliceblue;"><i class="fa fa-home"></i>Nagpur, Maharashtra</li>
                            <li style="color: aliceblue;"><i class="fa fa-phone"></i>123456789</li>
                            <li style="color: aliceblue;"><i class="fa fa-envelope-o"></i>anshulshende2029@gmail.com
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <div class="container">
            <div class="row">
                <div class="footer-containertent">

                    <ul style="text-align: center;" class="footer-social-info">
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </li>
                    </ul>
                    <br /><br />
                </div>
            </div>
        </div>
    </footer>

</body>